$bgColor: var(--bgColor);
$tsGray: var(--tsGray);
$tsWhite: var(--tsWhite);
$textColor: var(--textColor);
$accent: var(--accent);
$gray: var(--gray);
$bgHome: $tsGray;
$blackShadow: var(--blackShadow);
