$bgColor: var(--bgColor);
$tsGray: var(--tsGray);
$tsWhite: var(--tsWhite);
$textColor: var(--textColor);
$accentTextColor: var(--accentTextColor);
$accent: var(--accent);
$tsAccent: var(--tsAccent);
$darkAccent: var(--darkAccent);
$gray: var(--gray);
$bgHome: $tsGray;
$blackShadow: var(--blackShadow);
$tsBlack: var(--tsBlack);
$black: var(--black);
