// player related vars
$playerWidth: 100%;
$playerHeight: 70px;
$progressbarHeight: 3px;

// sidebar related vars
$sidebarHeight: calc(100vh - #{$playerHeight} - #{$progressbarHeight});
$sidebarWidth: 250px;

// home related vars
$homeWidth: calc(100% - #{$sidebarWidth});
$homeHeight: $sidebarHeight;
$homeLeft: $sidebarWidth;

@mixin blue-gradient {
  background: linear-gradient(
    rgb(70, 56, 152),
    rgb(53, 42, 116),
    rgb(43, 34, 94)
  );
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
}

@mixin flex-start-center {
  @include flex-start;
  align-items: center;
}

@mixin align-center {
  display: flex;
  align-items: center;
}

@mixin border-sm {
  border-radius: 5px;
}

@mixin transition {
  transition: all 100ms ease;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-col-center {
  @include flex-center;
  @include flex-col;
}
