@import "./colors";
@import "./utils";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrainsMono Nerd Font";
}

*::-webkit-scrollbar {
  // display: none;
  background: $tsGray;
  // color: $gray;
}
*::-webkit-scrollbar-thumb {
  background-color: $gray !important;
}

*:not(div, ul)::-webkit-scrollbar {
  display: none;
}

:root {
  --tsGray: rgba(200, 200, 200, 0.1);
  --bgColor: #0e0e0e;
  --textColor: #fff;
  // --accentTextColor: rgb(254, 77, 77);
  --accentTextColor: rgb(254, 44, 85);
  // --accent: rgb(254, 44, 44);
  --accent: #0e0e0e;
  --tsAccent: rgb(255, 77, 77, 0.4);
  --darkAccent: rgb(165, 44, 44);
  --tsWhite: rgba(255, 255, 255, 0.3);
  --gray: rgb(100, 100, 100);
  --blackShadow: rgb(20, 20, 0);
  --tsBlack: rgba(0, 0, 0, 0.8);
  --black: rgb(0, 0, 0);
}

.main {
  width: 100%;
  height: 100vh;
  background: $bgColor;
  display: flex;
  flex-direction: column-reverse;
  user-select: none;
  background: $accent;
}

a {
  text-decoration: none;
  color: $textColor;
  &:hover {
    text-decoration: underline;
  }
}

input,
button {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  color: $textColor;
  @include border-sm;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: $darkAccent;
  height: 5px;
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: $accent;
  border-radius: 50%;
  box-shadow: 0px 0px 3px black;
  margin: -2.5px;
}
