@import "../../utils";
@import "../../colors";

.authForm {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: $tsWhite;
  z-index: 99999;
  @include flex-center;
  color: $textColor;
  .authInner {
    @include flex-col-center;
    height: fit-content;
    padding: 20px;
    width: 400px;
    background: $tsBlack;
    gap: 20px;
    backdrop-filter: blur(10px);
    @include border-sm;
    label {
      @include flex-col;
      gap: 5px;
      width: 80%;
      input {
        height: 35px;
        @include border-sm;
        padding: 5px;
        font-size: 1rem;
      }
    }
    button[type="submit"] {
      width: 60px;
      height: 35px;
      background: $accent;
      &:hover {
        background: $darkAccent;
      }
    }
    .formSwitch {
      background: transparent;
      cursor: pointer;
      &:hover {
        color: $accent;
      }
    }
  }
}
